# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /krishibazar/

#     # Redirect direct requests to public/farmer.php to /farmer
#     RewriteCond %{THE_REQUEST} /public/([^.]+)\.php [NC]
#     RewriteRule ^ /%1 [NC,R,L]

#     # Rewrite /farmer to /public/farmer.php
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^([^/]+)/?$ public/$1.php [L]
# </IfModule>
